

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Django Highcharts Example</title>
</head>
<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
</figure>

<script type="text/javascript">
  Highcharts.chart('container', {

title: {
    text: '인구 대비 COVID-19 확진자 비율'
},

subtitle: {
    text: 'Source: Johns Hopkins University Center for System Science and Engineering'
},

yAxis: {
    title: {
        text: '누적 비율'
    }
},

xAxis: {
    type: 'datetime',
    accessibility: {
        rangeDescription: 'Range: Feb\'20 to Nov\'20 '
    }
},

legend: {
    layout: 'horizontal',
    align: 'center',
    verticalAlign: 'bottom'
},

plotOptions: {
    series: {
        label: {
            connectorAllowed: false
        },
        pointStart: Date.UTC(2020, 1, 2),
        pointInterval: 24 * 3600 * 1000 * 31 // one day
    }
},

series: [{
    name: 'France',
    data: [0.00466, 4.05615, 40.93453, 95.68553, 152.66345, 215.1829, 291.32416, 418.84482, 692.60193, 1272.6216]
}, {
    name: 'Germany',
    data: [0.00561, 5.8874, 45.31665, 99.5948, 156.30242, 218.95321, 289.20054, 369.43575, 485.96617, 731.60978]
}, {
    name: 'Korea, South',
    data: [0.12128, 2.57046, 5.72477, 9.15436, 12.81241, 17.04662, 17.55111, 24.28281, 32.08716, 40.97334]
}, {
    name: 'US',
    data: [0.00402, 11.19644, 208.19523, 662.11229, 1309.57948, 2418.75168, 3477.94421, 4066.00058, 4572.63613, 4941.90133]
}, {
    name: 'United Kingdom',
    data: [0.00606, 2.81817, 35.81791, 105.57948, 187.27643, 277.9969, 376.75308, 491.66522, 710.80365, 1118.03708]
}],

responsive: {
    rules: [{
        condition: {
            maxWidth: 500
        },
        chartOptions: {
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom'
            }
        }
    }]
}

});
</script>


</body>
</html>